# Backend (.env inside /backend)
PORT=5001
MONGO_URI=mongodb://localhost:27017/decor-analyzer
ML_API_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000

# React frontend (.env inside /src)
REACT_APP_API_URL=http://localhost:5001/api
